env:
  EDITOR: nvim

vars:
  project: ~/work/src/myproject

commands:
  - name: gs
    cmd: git status
    kind: alias

  - name: greet
    kind: function
    cmd: |
      echo "Hello from '{{ .OS }}' on '{{ .ARCHITECTURE }}'!"
      echo "Project base is ${project}"
    exclude: {{eq .HOSTNAME "something"}}
